body{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #33001b, #ff0084);
}


.container{
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: neonGlow 1s infinite alternate;
}

@keyframes neonGlow {
    from{
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);

    }
    to{
        box-shadow: 0px 0px 20px #e61380,
        0px 0px 30px #ce1c78,
        0px 0px 40px #ff0084;
    }
    
}


h1{
    color: #ffffff;
    font-size: 36px;
    margin-bottom: 20px;
}

textarea{
    width: 500px;
    height: 350px;
    margin: 10px auto;
    display: block;
    font-size: 24px;
    padding: 20px;
    color: rgb(0, 0, 0);




    
